/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
a{text-decoration:none}
table{border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
strong{font-weight:bold}
ol,ul{list-style:none;margin:0;padding:0}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;margin:0;padding:0}
q:before,q:after{content:''}
abbr,acronym { border:0}


/* Custom CSS
* --------------------------------------- */
body{font-family:Open Sans,arial,helvetica;color:#333;color:rgba(0,0,0,0.5)}
.wrap{margin-left:auto;margin-right:auto;width:960px;position:relative}
h1{font-size:6em}
p{font-size:2em}
.intro p{width:50%;margin:0 auto;font-size:1.5em}
.section{text-align:center}
.mobile_menu{display:none}
#menu{float:right}
#menu li{display:inline-block;margin:1vw 1.12vw;color:#000;border-bottom:2px solid transparent}
#menu li.active{color:#fff;border-color:#fff}
#menu li a{text-decoration:none;color:#FFFFFF;text-transform:uppercase;font-size:1vw}
#menu li:hover{border-color:#fff}
#menu li a, #menu li.active a{padding:9px 0;display:block}
#menu li.active a{color:#fff}
ul.social, ul.social li, ul.social a{float:left;display:inline}
ul.social a{width:30px;height:30px;background-size:cover; background-repeat:no-repeat;background-position:center; text-indent:-9999px;margin-left:12px}
ul.social{position:absolute;right:-100px;top:22px}
ul.social .facebook a{background-image:url(../images/facebook.svg);background-size:88%}
ul.social .instagram a{background-image:url(../images/instagram.svg)}
#topnav{width:85%;position:fixed;top:-100px;right:11%;z-index:70;padding:0;margin:0;-webkit-transition:top 0.65s;-moz-transition:top 0.65s;-o-transition:top 0.65s;transition:top 0.65s}
#topnav.show{top:0}
.twitter-share-button{position:fixed;z-index:99;right:149px;top:9px}
#download{margin:10px 0 0 0;padding:15px 10px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(top, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;vertical-align:middle;cursor:pointer;display:inline-block;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
#download a{text-decoration:none;color:#fff}
#download:hover{text-shadow:0 -1px 0 rgba(0,0,0,.25);background-color:#2F96B4;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
#infoMenu{height:20px;color:#f2f2f2;position:fixed;z-index:70;bottom:0;width:100%;text-align:right;font-size:0.9em;padding:8px 0 8px 0}
#infoMenu ul{padding:0 40px}
#infoMenu li a{display:block;margin:0 22px 0 0;color:#333}
#infoMenu li a:hover{text-decoration:underline}
#infoMenu li{display:inline-block;position:relative}
#examplesList{display:none;background:#282828;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:20px;float:left;position:absolute;bottom:29px;right:0;width:638px;text-align:left}
#examplesList ul{padding:0}
#examplesList ul li{display:block;margin:5px 0}
#examplesList ul li a{color:#BDBDBD;margin:0}
#examplesList ul li a:hover{color:#f2f2f2}
#examplesList .column{float:left;margin:0 20px 0 0}
#examplesList h3{color:#f2f2f2;font-size:1.2em;margin:0 0 15px 0;border-bottom:1px solid rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1);box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);padding:0 0 5px 0}
.langs{position:fixed;z-index:100;top:26px;left:26px;width:116px}
.langs a.current{border:1px solid #ffffff;width:85%;float:left;padding:3% 0 3% 15%;color:#fff;font-weight:500;background:url(../images/arrow_down.svg) no-repeat 90px center;background-size:auto 55%}
ul.langs_list, ul.langs_list li, ul.langs_list a{float:left;display:inline;width:100%}
ul.langs_list a{color:#5aaaa1;text-decoration:none;font-size:14px;text-align:center;padding:5px 0}
ul.langs_list{display:none;width:400px}
ul.langs_list li{width:33%}
.langs:hover a.current{background-color:rgba(92, 162, 155, 0.95);border-color:rgba(92, 162, 155, 0.95)}
.langs:hover ul.langs_list{display:inline;background-color:rgba(255,255,255, 0.90);padding:10px 0;border:1px solid #ffffff}
ul.langs_list a:hover{text-decoration:underline}
.fp-controlArrow{display:none}

#demosMenu{position:fixed;bottom:10px;right:10px;z-index:999}
h1{font-size:5em;font-family:arial,helvetica;color:#fff;margin:0;padding:0}
.section{text-align:center;overflow:hidden}
#myVideo{position:absolute;right:0;bottom:0;top:0;right:0;width:100%;height:100%;background-size:100% 100%;background-color:black;
background-position:center center;background-size:contain;object-fit:cover;z-index:3}
#section0 .layer{position:absolute;z-index:4;width:100%;left:0;top:43%;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#section0{overflow:hidden}
#infoMenu li a {color:#fff}
video::-webkit-media-controls{display:none !important}
#fp-nav ul li a span, .fp-slidesNav ul li a span{background:#ffffff;width:0.6vw;height:0.6vw;margin:-0.3vw 0 0 -0.3vw}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{width:1.1vw;height:1.1vw;margin:-0.55vw 0 0 -0.55vw}
#fp-nav li .fp-tooltip{display:none!important}
#fp-nav ul li, .fp-slidesNav ul li{margin:2.1vh}

#section1{background:url('../images/foto3.jpg') no-repeat center;background-size:cover}
#section2{background:url('../images/foto1.jpg') no-repeat center;background-size:cover}
#section3{background:url('../images/foto2.jpg') no-repeat center;background-size:cover}
#section4{background:url('../images/foto4.jpg') no-repeat center;background-size:cover}
#spain_data{position:relative}

.wrap{display:inline-block;width:56%;color:#ffffff}
.wrap h2{font-size:3.54vw;font-weight:900;letter-spacing:-0.03em}
.wrap h3{font-size:2.2vw;font-weight:900;letter-spacing:-0.03em;margin-bottom:0.4em}
.wrap p{font-size:1.41vw;line-height:120%;font-weight:600;margin-top:0.3em}
.wrap .btn{text-align:center;display:inline-block;margin:1em 10px 0 10px;background:#5aaaa1;min-width:15vw;padding:10px 20px;text-transform:uppercase;color:#ffffff;font-size:1.35vw}
.section_spain #spain_main .wrap{float:right;margin-right:6%;text-align:left;width:38%}
.section_about .wrap{float:left;margin-left:6%;text-align:left;width:38%}
.section_spain .wrap .btn{min-width:140px;padding:10px 5%}
#spain_data .wrap{width:100%!important;height:100%;position:absolute;left:0;top:0;background:rgba(37, 117, 108, 0.55) url(../images/data_picture.png) no-repeat 38% bottom;background-size:auto 42%;}
body .section .slide .btn_close{background:url(../images/close.svg) no-repeat center;width:30px;height:30px;padding:0;min-width:auto;text-indent:-9999px;float:left;display:inline;bottom:4%;position:absolute;left:2%;background-size:cover}
.fp-tableCell{position:relative}
.section_tools .subpage .fp-tableCell{background:rgba(53, 118, 110, 0.82)}
#tools_control_panel .wrap img{width:60%;height:auto;min-width:220px;max-width:500px}
ul.other_tools{position:relative;width:100%;margin-bottom:1em}
ul.other_tools img{border:4px solid rgba(255, 255, 255, 0.20);width:15vw;height:15vw;max-width:22vh;max-height:22vh;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
ul.other_tools strong{display:block}
ul.other_tools li{display:inline-block;margin:20px}
ul.other_tools a{color:#ffffff;}
.nav_pagination{display:none}

/* MODAL */
.modal{position:absolute;z-index:1000;background:rgba(0, 0, 0, 0.86);left:0;top:0;right:0;bottom:0;display:none;align-items:center;justify-content:center}
.modal.active{display:flex}
.modal iframe#video_01{width:88vw;max-width:1600px;height:74vh;max-height:56vw}
.modal a.close{position:absolute;left:3.4vw;top:3.4vw;width:30px;height:30px;background:url('../images/close.svg');overflow:hidden;background-size:cover;text-indent:-9999px}
/* MODAL */

/* counters */
.counter{background:rgba(33, 73, 69, 0.36);flex-direction:column;position:absolute;display:flex;align-items:center;justify-content:center;width:20vw;height:20vw;border:4px solid rgba(255, 255, 255, 0.20);-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;font-size:2.2vw;padding:0.8em;line-height:120%}
.counter .item{font-size:130%;line-height:120%}
.counter strong{display:block}
#countitem_01{top:9%;left:11%;width:21vw;height:21vw}
#countitem_02{top:13%;right:26.4%;width:13.8vw;height:13.8vw;font-size:1.5vw}
#countitem_03{bottom:13%;right:6.6%;width:18vw;height:18vw;font-size:1.9vw}
/* counters */

@media all and (min-width:1401px) {
	.modal iframe#video_01{max-height:900px}
	.modal a.close{width:2vw;height:2vw}
}

@media all and (max-width:1400px) {
	#fp-nav ul li a span, .fp-slidesNav ul li a span{width:10px;height:10px;margin:-5px 0 0 -5px}
	#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{width:18px;height:18px;margin:-9px 0 0 -9px}
	#fp-nav ul li, .fp-slidesNav ul li{margin:14px 5px}
	#tools_extra .wrap{width:70%;max-width:720px}
}

@media all and (max-width:1300px) {
	.wrap h2{font-size:4.4vw}
	.wrap p{font-size:1.9vw}
	.wrap{width:74%}
	.section_spain .wrap, .section_about .wrap{width:44%}
	#tools_extra .wrap{width:85%;max-width:790px}
}

@media all and (max-width:1024px) {
	.section_spain .wrap, .section_about .wrap{float:none!important;margin-left:auto;margin-right:auto!important;text-align:center!important;width:74%!important}
	#topnav{right:10%;width:90%}
	#menu li a{font-size:1vw;padding:0.8em 0 9px}
	#menu li{margin:1vw}
	ul.social{right:-7.8vw}
	body .section .slide .btn_close{left:30px;bottom:30px}
	#countitem_01{font-size:2.8vw;top:10%;width:26vw;height:26vw}
	#countitem_02{top:16%;right:20.4%;width:20vw;height:20vw;font-size:2.2vw}
	#countitem_03{bottom:6%;right:8.6%;width:24vw;height:24vw;font-size:2.7vw}
}

@media screen and (min-width:601px) {
	.counter{webkit-transition:all .6s linear;-moz-transition:all .6s linear;-ms-transition:all .6s linear;-o-transition:all .6s linear;transition:all .6s linear;-ms-transform:translateY(300px);-webkit-transform:translateY(300px);-moz-transform:translateY(300px);-o-transform:translateY(300px);transform:translateY(300px);opacity:0;}
	#spain_data.active .counter{-ms-transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);opacity:1}
}

@media screen and (orientation:portrait) and (max-width:1024px) and (min-width:601px) {
	#countitem_01{width:40vw;height:40vw;font-size:3.9vw;top:7%}
	#countitem_02{width:26vw;height:26vw;font-size:3.1vw;right:10%;top:24%}
	#countitem_03{width:35vw;height:35vw;font-size:4vw;right:10%;bottom:auto;top:52%}
	#spain_data .wrap{background-position:27% bottom;background-size:auto 34%}
}

@media all and (max-width:981px) {
	.wrap h2{font-size:42px;line-height:100%;margin-bottom:20px}
	.wrap p{font-size:18px}
	.wrap .btn{font-size:20px;width:200px}
	#topnav{width:100%;float:left;right:0;top:0!important;z-index:110}
	#menu li{padding:8vh 0 2vh;width:100%;display:block;margin:0;text-align:center;border:0}
	.mobile_menu{width:45px;height:45px;background:url(../images/menu.svg) no-repeat center;background-size:60%;float:left;display:inline;text-indent:-9999px;top:13px;position:absolute;right:15px}
	#menu{display:none;background:rgba(92, 162, 155, 0.95);height:100vh}
	#menu li a{font-size:17px;width:fit-content;float:none;margin:0 auto}
	#menu li.active a{border-bottom:2px solid #ffffff}
	ul.social{left:50%;right:0;bottom:5vh;top:auto;margin-left:-42px}
	#topnav.open #menu{display:block;width:100%}
	#topnav.open .mobile_menu{background-image:url(../images/close.svg)}
	ul.other_tools img{width:28vw;height:28vw;max-width:160px;max-height:160px}
}

@media all and (max-width:767px) {
	#menu li a{font-size:3.4vw}
	ul.other_tools li{display:none;left:50%!important;top:50%!important;right:auto!important;bottom:auto!important;-ms-transform: translate(-50%,-50%)!important;-webkit-transform: translate(-50%,-50%)!important;-moz-transform: translate(-50%,-50%)!important;-o-transform: translate(-50%,-50%)!important;transform: translate(-50%,-50%)!important;}
	ul.other_tools img{width:45vw;height:45vw;max-width:240px;max-height:240px}
	ul.other_tools li.active{display:inline}
	.nav_pagination{display:inline}
	.nav_pagination a{margin:0 3px 20px;width:14px;height:14px;background:rgba(255, 255, 255, 0.5);text-indent: -9999px;display: inline-block;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;}
	.nav_pagination a.active{background:#fff}
}

@media screen and (orientation:portrait) and (max-width:600px) {
	#countitem_01{font-size:5.3vw;top:15%;left:50%;width:45vw;height:45vw;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}
	#countitem_02, #countitem_03{top:77vw;right:12%;width:31vw;height:31vw;font-size:3.9vw}
	#countitem_03{right:auto;left:12%}
	#spain_data .wrap{background-size:auto 32%;background-position:center bottom;height:100vh}
}

@media all and (max-width:600px) {
	.wrap h2{font-size:39px}
	.wrap, .section_spain .wrap, .section_about .wrap{width:65%}
	.wrap .btn{width:90%;margin-left:0;margin-right:0;padding:10px 0}
	#fp-nav.right{right:10px}
	#menu li a{font-size:4.1vw}
	.wrap h3{font-size:20px;margin-bottom:0.4em}
	ul.langs_list{width:290px}
	ul.langs_list li{width:50%}
}

@media all and (max-width:480px) {
	.wrap h2{font-size:8.8vw}
	.wrap p{font-size:4.1vw}
	.wrap .btn{font-size:4.4vw;padding:15px 0;}
}